body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://wallpaperaccess.com/full/2029165.jpg) no-repeat;
    background-size: cover;
  }
.login-text{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.login-text h1{
    float: left;
    font-size: 40px;
    
    padding: 13px 0;
}